# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*
.vscode

# Ignore Gradle build output directory
build
work
out
buildSrc/build

# Ignore Nextflow source directory and hello plugin
nf-source
plugins/nf-hello
